#title{
    text-align: center;
    font-size: 100px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.div1{
    align-items: center;
    align-content: center;
    position: relative;
    top:40%;
    left: 9%;
}
.w{
    background-image:url('images/tom1.png') ;
    border-radius: 15px;
    border: 5px solid rgb(142, 139, 189);
    width: 150px ;
    height: 150px;
    font-size: 80px;
    color: rgb(240, 240, 240);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.a{
    background-image:url('images/tom2.png') ;
    border-radius: 15px;
    border: 5px solid rgb(142, 139, 189);
    width: 150px ;
    height: 150px;
    font-size: 80px;
    color: rgb(240, 240, 240);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.s{
    background-image:url('images/tom3.png') ;
    border-radius: 15px;
    border: 5px solid rgb(142, 139, 189);
    width: 150px ;
    height: 150px;
    font-size: 80px;
    color: rgb(240, 240, 240);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.d{
    background-image:url('images/tom4.png') ;
    border-radius: 15px;
    border: 5px solid rgb(142, 139, 189);
    width: 150px ;
    height: 150px;
    font-size: 80px;
    color: rgb(240, 240, 240);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.j{
    background-image:url('images/snare.png') ;
    border-radius: 15px;
    border: 5px solid rgb(142, 139, 189);
    width: 150px ;
    height: 150px;
    font-size: 80px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.k{
    border-radius: 15px;
    background-image:url('images/kick.png') ;
    border: 5px solid rgb(142, 139, 189);
    width: 150px ;
    height: 150px;
    font-size: 80px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.l{
    background-image:url('images/crash.png') ;
    border-radius: 15px;
    border: 5px solid rgb(142, 139, 189);
    width: 150px ;
    height: 150px;
    font-size: 80px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
footer{
    margin-top: 13%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.pressed{
    box-shadow: 0 3px 4px 0 #dbedf3;
    opacity: 0.5;
}